/**
 * Todo el CSS necesario para  la funcionalidad especifica del area de adminis-
 * tracion deberia estar incluido en este archivo.
 */

/* Titulo del plugin*/
#servcomapp_titulo {
  margin: 20px;
  font-weight: bold;
}
/*Botones tipo radio de la pestaña usuarios*/
#rbtn_usuarios {
  margin:20px 0px 30px 150px;
}
/*Bloque que contiene a los distintos programas*/
#bloque_programas {
  margin: 40px;
}
/*Boton que añade un nuevo programa*/
#add_programa {
  margin:30px 0px 0px 30px;
}
/*Titulos de los formularios*/
.titulo_usuario, .titulo_tutor,
.titulo_institucion {
  margin-left: 160px;
}
/*Formulario de tutores e instituciones*/
#form_tutores, #form_instituciones {
  margin-top: 20px;
}
#panel {
  margin: 25px;
}
#btn_us_enviar, #btn_us_limpiar,
#inst_boton, #tut_boton {
  margin: 5px;
}
#alerta_usuarios {
  margin: 30px 0px 20px 15px;
}
.btns_formulario {
  margin: 5px 0px 10px 185px;
}

/* Todo lo bueno es de aqui para abajo */
